
.containerInfo{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width:480px){
        // width: 480px;
    }
    @media screen and (min-width:768px){
        // width: 768px;
        margin: 0 auto;
        padding-left: 100px;
        padding-right: 100px;
    }
    @media screen and (min-width: 1200px){
        margin: 0 auto;
        padding-left: 100px;
        padding-right: 100px;
    }
}
.titleInfo{
    max-width: 1440px;
    margin-top: 100px;
    font-family: $primaryfonts,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.21;
    color: $text-color;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}
.info_list{
    margin-bottom: 100px;
    @media screen and (min-width:320px) and (max-width:767px) {
        padding-left: 0px;
        padding-right: 0px;
    }
    padding-left: 120px;
    padding-right: 120px;
    @media screen and (min-width:1199px){
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    
}
.info_item{
   
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    box-shadow: 0px 5px 100px rgba(0, 140, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flag{
    filter: drop-shadow(0px 5px 100px rgba(0, 140, 255, 0.2));
    border-radius: 10px;
    margin-bottom: 50px;
    width: 300px;
}
.info_text{
    
    font-family: $secondaryfonts;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.72;
    color: $color-text;
    margin-bottom: 20px;
    @media screen and (min-width:1199px){
        
    }
}
.info_title{
    font-family: $secondaryfonts;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 20px;
}
.listInfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}  
.point{
    margin-right: 10px;
    width: 10px;
    height: 10px;
   
}
.itemInfo{
    display: flex;
    align-items: baseline;
    &:not(:last-child){
        margin-bottom: 5px;
    }
}
.textInfo{
    font-family: $secondaryfonts;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.72;
    color: $color-text;
    
}
.buttonInfoEmail{
    text-decoration: none;
    padding: 10px 20px;
    background: $color-contact;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-family: $secondaryfonts;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.37;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        color: $white-text;
        background-color: $text-color;
    }
}